@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

/* bg:#CAF7E3
sbg:#EDFFEC
text:#F6DFEB
text2:#E4BAD4 */

.fullScreen{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height:100vh;
  background-color: #CAF7E3;
  background-size:cover;
  background-repeat: no-repeat;
  margin: -8px;
}
.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 4px;
  background-color: #EDFFEC;
  box-shadow: 0 0 800px #E4BAD4;
}
.main .icon {
  width: 34px;
}
.main h1 {
  font-family: "ColfaxAI", Helvetica, sans-serif;
  font-size: 50px;
  line-height: 40px;
  font-weight: bold;
  color: #F6DFEB;
  text-shadow: 0 0 6px #784d4d, 0 0 5px #5a5a7e; 
}
.title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 80px;
  height: 80px;
  background-image: url(../public/send.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.main form {
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: 40px;
  gap: 4px;
  place-self: end;
}
.main input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #E4BAD4;
  border-radius: 4px;
  outline-color: #E4BAD4;
  width: 380px;
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  color: #fff;
  background-color: #E4BAD4;
  border: none;
  border-radius: 4px;
  font-size:xx-large;
  width: 80px;
  cursor: pointer;
  background-image: url(../public/send.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main .result {
  font-weight: bold;
  margin-top: 4px;
}

.nav {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-image: url(../public/wallpaperflare.com_wallpaper.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  width: 500px;
  height: 400px;
  border: 1px solid #ccc;
  padding: 2px;
  margin-top: 10px;
  box-shadow: 0 0 10px rgb(111, 129, 197);
  border-radius: 4px;
}

.result {
  clear: both;
  overflow-y:scroll;
  scrollbar-width: none;
  width: full;
  margin-bottom: 5px;
  padding-left: 4px;
  padding-right: 4px;
}
.result::-webkit-scrollbar {
  display: none;
}
.result me{
  padding: 5px 10px;
  margin-bottom: 3px;
  border-radius: 4px;
  background-color: #EDFFEC;
  float: right;
  max-width: 250px;
}
.result ai{
  padding: 5px 10px;
  margin-bottom: 3px;
  border-radius: 4px;
  background-color: #CAF7E3;
  float: left;
  max-width: 250px;
}